@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('checkbox.css');

:root {
	--mainFont: 'ZCOOL QingKe HuangYou', cursive;
}

* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	height: auto;
	width: 100vw;
}

.vertical-span {
	writing-mode: vertical-lr;
	position: absolute;
	right: 20px;
	bottom: 10px;
	color: white;
	font-family: var(--mainFont);
	letter-spacing: 2px;
	animation: bounce-span 1s ease-in-out infinite;
	background-color: rgba(0, 0, 0, .7);
	padding: 10px 2px 5px 2px;
	border-radius: 3px;
}

/*SETTINGS*/

.settings {
	position: fixed;
	z-index: 20;
	left: 5vw;
	bottom: -110px;
	font-family: var(--mainFont);
	background-color: rgba(0, 0, 0, .7);
	color: white;
	padding: 10px 15px;
	border-radius: 5px 5px 0 0;
	letter-spacing: 2px;
	height: 150px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	transition: all 0.5s;
	cursor: pointer;
}

.settings hr {
	margin: 5px 0;
	width: 100%;
}

.settings-text {
	width: 100%;
	text-align: center;
}

.open-settings {
	bottom: 0;
}

/*WELCOME*/

#welcome-background {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(static/lujiazui_china.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30%;
	animation: welcome-background-move 5s ease-out reverse;
}

#welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, .7);
	padding: 10px;
}

#welcome h1 {
	color: white;
	text-shadow: 3px 3px 15px;
	font-size: 2rem;
	text-align: center;
	margin: 7% 2%;
	animation: welcome-h1 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	font-family: 'Trade Winds', cursive;
}

.welcome-down-btn {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 200px;
	height: 100px;
	width: 100px;
	outline: none;
	background-color: rgba(0, 0, 0, .7);
	cursor: pointer;
}

.welcome-down-btn i {
	font-size: 2rem;
	color: white;
}

/*HEADER*/

#header {
	height: auto;
	width: 100%;
	background-color: white;
	padding: 30px 10px;
	font-family: var(--mainFont);
	letter-spacing: .1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#audio {
	height: 30px;
	max-width: 60%;
}

/*NAV*/

#about-me-wrapper ul, footer {
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: var(--mainFont);
}

.nav a {
	text-decoration: none;
	letter-spacing: 1px;
	color: white;
}

.nav a:hover {
	color: red;
}

#hambi-menu {
	position: relative;
	width: 60px;
	height: 45px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#hambi-menu span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: black;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#hambi-menu span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hambi-menu span:nth-child(2) {
	top: 18px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hambi-menu span:nth-child(3) {
	top: 36px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hambi-menu.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#hambi-menu.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#hambi-menu.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 39px;
	left: 8px;
}

time {
	font-size: 1.8rem;
}

/*ABOUT ME*/

.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#about-me {
	width: 100%;
	min-height: 100vh;
	background: url(static/night_city.jpg) 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 30px;
	position: relative;
}

#about-me-wrapper {
	width: 70%;
	margin: 20px auto;
	height: 80%;
	background: rgba(255, 255, 255, .8);
	padding-top: 20px;
}

#about-me-wrapper h2 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Trade Winds', cursive;
}

#about-me-wrapper h3 {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Trade Winds', cursive;
}

#about-me-wrapper img {
	height: auto;
	width: 100%;
	filter: blur(8px);
	padding: 10px;
}

#about-me-wrapper img:hover {
	filter: blur(0);
}

#about-me-wrapper p {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: var(--mainFont);
	letter-spacing: 1px;
	line-height: 1.4rem;
	padding: 10px 30px;
	text-indent: 20px;
}

#about-me-wrapper ul {
	margin-top: 20px;
	height: 70px;
}

.fab {
	font-size: 3rem;
	color: rgba(0,0,0, .7);
}

.fab:hover {
	color: red;
}

/*PORTFOLIO*/

hr {
	margin: 50px 0;
}

#portfolio-box-wrapper {
	width: 90%;
	margin: 0px auto 20px;
	text-align: center;
}

.portfolio-box {
	height: auto;
	width: 70%;
	margin: 0 auto;
}

.portfolio-box p::before, 
.portfolio-box p::after {
	font-family: 'La Belle Aurore', cursive;
	position: absolute;
	left: -30px;
	color: #515152;
}

.portfolio-box p::before {
	content: attr(data-tag) '<p>';
	top: -30px
}

.portfolio-box p::after {
	content: attr(data-tag) '</p>';
	bottom: -40px;
}

.portfolio-box div {
	background-color: white;
	backface-visibility: hidden;
	border: 1px solid black;
	margin-bottom: 20px;
	box-shadow: 20px 20px 50px black;
	transform: rotateX(40deg) rotateZ(15deg) rotateY(0deg);
	height: 400px;
	transition: 0.5s;
}

.portfolio-box div a {
	text-decoration: none;
}

.portfolio-box p {
	position: relative;
	margin: 30px 5px;
	font-size: 1.7rem;
	text-align: left;
	text-decoration: underline;
	font-family: var(--mainFont);
	letter-spacing: px;
}

.portfolio-box a {
	display: block;
	height: 80%;
	padding-top: 20px;
}

.portfolio-box img{
	width: 100%;
	height: 100%;
}

.portfolio-box figcaption {
	font-size: 1.2rem;
	font-family: var(--mainFont);
	color: black;
	letter-spacing: 2px;
	height: 20%;
	display: flex;
    justify-content: center;
    align-items: center;
}

#a-clock img {
	max-width: 50%;
}

/*FOOTER*/

footer {
	margin-top: 100px;
	position: relative;
}

.up-btn {
	position: absolute;
	top: -100px;
	right: 10vw;
	border-radius: 200px;
    height: 50px;
    width: 50px;
    outline: none;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
	font-size: 1.5rem;
}

/*KEYFRAMES*/

@keyframes welcome-background-move {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  100% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}

@keyframes welcome-h1 {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes bounce-span {
	0%,100% {
		bottom: 10px;
	}
	50% {
		bottom: 20px;
	}
}

@keyframes slide-in-left {
	0% {
	  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
}

/*MEDIA QUERY*/

@media (min-width : 720px) {
	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(0,0,0, .7);
		font-family: var(--mainFont);
		height: 0px;
		overflow: hidden;
		opacity: 0;
		transition:0.5s;
	}
	.nav.is-active {
		height: 380px;
		opacity: 1;
	}
	.nav a {
		font-size: 2rem;
		height: 70px;
	}
	#about-me-wrapper {
		width: 60vw;
		margin-top: 10vh;
	}
	.portfolio-box p {
		margin: 50px auto;
	}
	footer {
		font-size: 1.2rem;
	}
	#about-me-wrapper img {
		padding: 20px;
	}
}

@media (min-width : 1024px) {
	#hambi-menu {
		display: none;
	}
	.nav {
		flex-direction: row;
		justify-content: space-around;
		height: 40px;
		position: sticky;
		top: 0;
		z-index: 10;
		opacity: 1;
		overflow: auto;
	}
	.nav.is-active {
		height: 40px;
		opacity: 1;
	}
	#welcome h1 {
		font-size: 2.5rem;
	}
	.welcome-down-btn {
		height: 70px;
		width: 70px;
	}
	#header {
		font-size: 2rem;
	}
	.nav a {
		font-size: 1.5rem;
		height: auto;
	}
	#about-me-wrapper {
		padding: 20px;
	}
	#about-me-wrapper img{
		max-width: 330px;
		float: left;
		margin: 20px;
	}
	#about-me-wrapper p {
		font-size: 1.2rem;
	}
}

@media (min-width : 1280px) {
	#about-me-wrapper h2 {
		font-size: 2.5rem;
	}
	#about-me-wrapper h3 {
		font-size: 1.7rem;
	}
	#about-me-wrapper p {
		font-size: 1.6rem;
		margin-bottom: 40px;
	}
	.portfolio-box div {
		display: inline-block;
		width: 15%;
		transform: rotateX(-30deg) rotateZ(0deg) rotateY(50deg);
		box-shadow: -20px -20px 50px black;
		margin: auto 5px;
		margin-bottom: 100px;
		height: 150px;
	}
	.portfolio-box div:hover {
		transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
		transform: scale(1.3);
	}
	.portfolio-box p {
		margin: 100px auto;
	}
	.portfolio-box figcaption {
		font-size: 1rem;
	}
}

@media (min-width : 1460px) {
	#about-me-wrapper {
		width: 1000px;
	}
	#about-me-wrapper img {
		width: 35px;
		margin: 50px;
	}
	#about-me-wrapper p {
		margin-bottom: 50px;
	}
	footer {
		margin-top: 100px;
	}
	.portfolio-box figcaption {
		font-size: 1.2rem;
	}
}
